@import url(normalize.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|PT+Sans:400,400i,700");
body,
ul {
  padding: 0;
  margin: 0; }

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  font-family: 'Montserrat', sans-serif; }

.first-section,
.second-section,
.third-section {
  padding: 0 15%; }

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3%;
  max-height: 1070px;
  min-height: 600px;
  height: 100vh;
  width: 100%;
  background-image: url(../img/png/first-section-bg.png);
  background-color: #9f9acf;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__collapse-btn {
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #fefefb; }
    @media screen and (max-width: 1150px) {
      .header__collapse-btn {
        display: block; } }
    .header__collapse-btn:focus {
      outline: none; }
    .header__collapse-btn--active {
      color: #807D9B; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  font-size: 22px;
  text-transform: uppercase;
  text-align: right; }
  @media screen and (max-width: 1560px) {
    .menu {
      width: 60%; } }
  @media screen and (max-width: 1150px) {
    .menu {
      display: none;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      position: absolute;
      width: inherit;
      top: 85px;
      right: 15%;
      background-color: #807D9B; } }
  @media screen and (max-width: 1150px) {
    .menu :nth-child(2n) {
      background-color: #9f9acf; } }
  .menu__item {
    text-decoration: none;
    color: #fefefb; }

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

.title {
  margin: 0;
  margin-top: 25%;
  text-transform: uppercase;
  font-size: 60px;
  color: #fefefb;
  font-weight: 700;
  text-align: center; }
  @media screen and (max-width: 1270px) {
    .title {
      font-size: 55px; } }
  @media screen and (max-width: 765px) {
    .title {
      font-size: 45px; } }

.title-desc {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  margin-top: 3%;
  width: 60%;
  font-size: 30px;
  color: #fefdfd;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center; }
  @media screen and (max-width: 1170px) {
    .title-desc {
      font-size: 25px; } }

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 800px;
  min-height: 440px;
  height: 100vh;
  background-color: #ebebeb; }
  @media screen and (max-width: 1100px) {
    .second-section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px;
      height: auto;
      max-height: 1600px; } }
  @media screen and (max-width: 420px) {
    .second-section {
      padding: 0; } }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70%;
  max-width: 382px;
  max-height: 555px;
  background-color: #9f9acf;
  background-image: url(../img/png/about-us-bg.png);
  background-position: -170px -25px;
  background-repeat: no-repeat; }
  .about-us__icon {
    margin-top: 75px; }
  .about-us__title {
    margin-top: 45px;
    color: #fefbfc;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase; }

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 8%;
  max-width: 635px;
  width: 100%;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  color: #665f60; }
  @media screen and (max-width: 1100px) {
    .description {
      margin-left: 0; } }
  @media screen and (max-width: 1400px) {
    .description {
      max-width: 356px; } }
  .description__paragraph-1 {
    width: 100%; }
  .description__paragraph-2 {
    width: 100%; }
  .description__learn-more-btn {
    margin-top: 11vh;
    width: 195px;
    height: 50px;
    border: 1px solid;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-style: italic;
    cursor: pointer;
    color: #7d7a7c;
    border-color: #7d7a7c;
    background-color: transparent; }
    @media screen and (max-width: 1400px) {
      .description__learn-more-btn {
        margin-top: 5vh; } }
    .description__learn-more-btn:hover {
      color: #ebebeb;
      border-color: #ebebeb;
      background-color: #7d7a7c; }

.third-section {
  max-height: 800px;
  min-height: 650px;
  height: 100vh;
  background-color: #ebebeb; }
  @media screen and (max-width: 1200px) {
    .third-section {
      height: 150vh;
      max-height: 1500px;
      min-height: 1000px; } }
  @media screen and (max-width: 760px) {
    .third-section {
      min-height: 1800px;
      max-height: 2400px;
      height: 300vh; } }
  @media screen and (max-width: 420px) {
    .third-section {
      padding: 0; } }

.cards-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 1200px) {
    .cards-deck {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 760px) {
    .cards-deck :first-child {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 32.5%;
  height: 100%; }
  @media screen and (max-width: 1200px) {
    .cards-wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 100%;
      height: 30%; } }
  @media screen and (max-width: 760px) {
    .cards-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      height: 40%; } }

.card {
  position: relative;
  height: 50%;
  overflow: hidden; }
  @media screen and (max-width: 1200px) {
    .card {
      min-width: 50%;
      height: 100%; } }
  @media screen and (max-width: 760px) {
    .card {
      height: 50%; } }
  .card__icon {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%); }
  .card__title {
    position: absolute;
    top: 47%;
    margin: 0;
    width: 100%;
    font-size: 24px;
    color: #665f60;
    font-family: "PT Sans", sans-serif;
    text-align: center; }
  .card__description {
    position: absolute;
    top: 57%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin: 0;
    width: 70%;
    font-size: 18px;
    color: #665f60;
    font-family: "P TSans";
    font-style: italic;
    text-align: center; }
    @media screen and (max-width: 760px) {
      .card__description {
        top: 65%; } }
  .card--darker {
    background-color: #dbdbdb; }
  .card--special {
    min-width: 35%;
    height: 100%;
    background-color: #9f9acf;
    background-image: url(../img/png/our-services-bg.png);
    background-position: -500px;
    background-repeat: no-repeat; }
    @media screen and (max-width: 1200px) {
      .card--special {
        height: 40%;
        background-position: bottom; } }
    @media screen and (max-width: 760px) {
      .card--special {
        height: 20%;
        max-height: 800px; } }
    .card--special__icon {
      top: 14.6%; }
    .card--special__title {
      top: 26%;
      font-size: 36px;
      color: #fefcfd;
      font-family: "Montserrat", sans-serif;
      font-weight: 500; }
      @media screen and (max-width: 1200px) {
        .card--special__title {
          top: 32%; } }
    .card--special__description {
      top: 48%;
      color: #fefcfd; }
      @media screen and (max-width: 760px) {
        .card--special__description {
          top: 58%; } }

.fourth-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 1000px;
  min-height: 900px;
  height: 100vh;
  background-color: #b6b2d7;
  background-image: url(../img/png/fourth-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }
  .fourth-section__title-icon {
    margin-top: 50px; }
  .fourth-section__title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fefcfd;
    text-transform: uppercase; }
  .fourth-section__slider {
    margin-top: 20px; }
  .fourth-section__view-btn {
    margin-top: 25px;
    width: 155px;
    height: 50px;
    border: 1px solid #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
    color: #fff;
    border-color: #fff;
    background-color: transparent; }
    .fourth-section__view-btn:hover {
      color: #b6b2d7;
      border-color: #b6b2d7;
      background-color: #fff; }
  .fourth-section .slick-prev {
    left: -30%; }
    @media screen and (max-width: 1200px) {
      .fourth-section .slick-prev {
        left: -10%; } }
    .fourth-section .slick-prev::before {
      content: url(../img/svg/arrow-prev.svg);
      font-size: 40px; }
  .fourth-section .slick-next {
    right: -30%; }
    @media screen and (max-width: 1200px) {
      .fourth-section .slick-next {
        right: -10%; } }
    .fourth-section .slick-next::before {
      content: url(../img/svg/arrow-next.svg);
      font-size: 40px; }
  .fourth-section .slick-dots {
    bottom: -40px; }
  .fourth-section .slick-list {
    max-height: 550px;
    height: 55vh;
    overflow: hidden; }
  .fourth-section #slick-slide-control00::before, .fourth-section #slick-slide-control01::before, .fourth-section #slick-slide-control02::before, .fourth-section #slick-slide-control03::before {
    width: 10px;
    height: 10px;
    color: transparent;
    border: 2px solid #ebebeb;
    border-radius: 50%;
    opacity: 1; }
  .fourth-section .slick-active #slick-slide-control00::before, .fourth-section .slick-active #slick-slide-control01::before, .fourth-section .slick-active #slick-slide-control02::before, .fourth-section .slick-active #slick-slide-control03::before {
    color: transparent;
    background-color: #ebebeb; }

.slider {
  width: 45%; }
  @media screen and (max-width: 1200px) {
    .slider {
      width: 70%; } }
  @media screen and (max-width: 760px) {
    .slider {
      width: 100%; } }
  .slider__item {
    overflow: hidden; }
    .slider__item img {
      width: 100%; }

.fifth-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 690px;
  max-height: 820px;
  height: 100vh;
  background-color: #ebebeb; }
  .fifth-section__icon {
    margin-top: 50px; }
  .fifth-section__title {
    margin: 30px 0 0 0;
    font-size: 36px;
    color: #665f60;
    text-transform: uppercase; }
  .fifth-section__team-slider {
    margin-top: 60px;
    width: 70%; }
    @media screen and (max-width: 700px) {
      .fifth-section__team-slider {
        width: 100%; } }
    @media screen and (max-width: 550px) {
      .fifth-section__team-slider {
        width: 80%; } }

.team-slider .slick-slide {
  margin: 0 15px; }
  @media screen and (max-width: 550px) {
    .team-slider .slick-slide {
      margin: 0; } }

.team-slider .slick-prev {
  left: -5%; }
  .team-slider .slick-prev::before {
    content: url(../img/svg/team-slider-prev.svg);
    font-size: 40px; }

.team-slider .slick-next {
  right: -5%; }
  .team-slider .slick-next::before {
    content: url(../img/svg/team-slider-next.svg);
    font-size: 40px; }

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-top: 125px solid #ebebeb;
  background-color: #fff; }
  .item__photo {
    position: absolute;
    left: 50%;
    top: -125px;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 72%;
    border: 10px solid #ebebeb;
    border-top: none;
    border-radius: 50%; }
  .item__name {
    margin-top: 45%;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    color: #9f9acf;
    text-transform: uppercase; }
  .item__work {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-size: 24px;
    color: #665f60;
    font-family: "PT Sans", sans-serif;
    font-style: italic; }
  .item__bottom {
    margin-top: 50px; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background-color: #9f9acf; }
  .bottom__icon {
    margin: 0 3%;
    cursor: pointer; }
