@import normalize.css
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|PT+Sans:400,400i,700')

=breakpoint($max-width)
   @media screen and (max-width: $max-width)
      @content

body,
ul
   padding: 0
   margin: 0

div
   box-sizing: border-box

.main-wrapper
   margin: 0 auto
   max-width: 1600px
   font-family: 'Montserrat', sans-serif

.first-section,
.second-section
   padding: 0 15%

.first-section
   display: flex
   flex-direction: column
   padding-top: 3%
   height: 100vh
   width: 100%
   max-height: 1070px
   background-image: url(../img/png/first-section-bg.png)
   background-color: #9f9acf
   background-size: cover
   background-repeat: no-repeat
   background-position: bottom

.header
   display: flex
   justify-content: space-between
   align-items: center

   &__logo
      //align-self: flex-start
   
   &__collapse-btn
      display: none
      padding: 0
      background-color: transparent
      border: none
      font-size: 30px
      color: rgb(254,254,251)
      +breakpoint(1150px)
         display: block
         
      &:focus
         outline: none
      
      &--active
         color: #000

.menu
   //display: block
   display: flex
   width: 50%
   justify-content: space-between
   list-style-type: none
   font-size: 22px
   text-transform: uppercase
   text-align: right
   
   +breakpoint(1560px)
      width: 60%
   +breakpoint(1150px)
      display: none
      align-items: flex-end
      position: absolute
      width: inherit
      top: 100px
      right: 15%

   & :nth-child(2n)
      +breakpoint(1150px)
         background-color: #9f9acf
   

   &__item
      text-decoration: none
      color: rgb(254,254,251)

.content-wrapper
   display: flex
   flex-direction: column
   align-items: center
   justify-content: center
   height: 100%

.title
   //align-self: center
   //justify-self: center
   margin: 0
   margin-top: 25vh
   text-transform: uppercase
   font-size: 60px
   color: rgb(254,254,251)
   font-family: "Montserrat", sans-serif
   font-weight: 700
   text-align: center

   +breakpoint(1270px)
      font-size: 55px
   +breakpoint(765px)
      font-size: 45px
   
.title-desc
   align-self: center
   margin: 0
   margin-top: 3%
   width: 60%
   font-size: 30px
   color: rgb(254,253,253)
   font-family: "PT Sans"
   font-weight: 400
   font-style: italic
   text-align: center

   +breakpoint(1170px)
      font-size: 25px